@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@layer base {
  h3 {
    @apply text-sm font-bold md:text-base;
  }

  h6 {
    @apply font-light text-sm;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

input:disabled {
  border: none;
  background-color: transparent;
  width: 100%;
}

input {
  padding: 0.5rem 0.75rem;
  border: solid;
  border-radius: 5px;
}

.badge {
  display: inline-block;
  padding: 2px 3px;
  margin: 2px;
  border-radius: 10px;
  border: solid;
}
.badge:hover {
  background-color: #007bff;
  cursor: pointer;
}
